body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0; 
}

.bigtitle{
    font-family: 'Roboto';
    font-size: 25px;
    font-style: bold;
    color: #757575;
    /*margin: 0px auto;*/
    padding: 60px 0px 60px 0px;
    /*text-align: center;*/
    width: 70%;
}

.bigtitle2{
    font-family: 'Roboto';
    font-size: 25px;
    font-style: bold;
    color: white;
    /*color: #757575;*/
    /*margin: 0px auto;*/
    padding: 40px 0px 40px 0px;
    /*text-align: center;*/
    width: 100%;
    background: #2E7D32;
}

paper-toolbar.main{
    font-family: 'Roboto';
    /*box-shadow: 0px 2px 5px #424242;*/
    /*background: #000000;*/
    font-size: 18px;
    background: #000000;
    color: #FFFFFF;
}

paper-toolbar paper-icon-button:hover{
    border-radius: 8px;
    background: #212121;
}



/*CSS para la Imagen*/
.sized{
    width: 100%;
    height: 350px; 
}


/*Para las Cartas*/
paper-card{
    width: 200px;
    margin: 10px;
}

paper-card div{
    font-family: 'Roboto';
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-size: 16px;
}    

.cards{
    padding: 1px 1px 100px ;
    width: 70%;
}
.botontoPortafolio{
    background: white;
    font-size: 16px;

}

paper-fab {
    z-index: 1; 
    position: absolute; 
    bottom: 20px;
    right: 25px;
    background: #FF6000;
}

.footer{
    font-family: 'Roboto';
    background: #F0F0F0;
    width: 100%;
    height:100px;
}

.test{
    padding: 30px 0px 0px 2px;
    width: 70%;
    text-align: left;
    color: #909090;
    font-size: 16px;
}

.clientes
{
    width: 100%;
    height: 200px;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 120px 0px 120px;

}